<form class="flexcol">
  <div class="form-group">
    <div class="row" style="display: flex">
      <div class="column" style="flex: 40%">
        <label for="firstBranch">Branch 1</label><br />
        <select type="text" name="firstBranch">
          {{#each branches}} {{#ifEquals this ../magaambyaData.firstBranch}}
          <option value="{{this}}" selected>{{this}}</option>
          {{/ifEquals}} {{#ifNotEquals this ../magaambyaData.firstBranch}}
          <option value="{{this}}">{{this}}</option>
          {{/ifNotEquals}} {{/each}}</select
        ><br />
        <label for="firstBranchLevel">Study for 1st Branch</label><br />
        <input
          type="number"
          name="firstBranchLevel"
          min="0"
          ,
          max="20"
          value="{{magaambyaData.firstBranchLevel}}"
          style="width: 30%"
        /><br />
        <!-- <label for="firstBranchLore">First Branch Lore</label><br />
        <input
          type="text"
          name="firstBranchLore"
          value="{{magaambyaData.firstBranchLore}}"
        /> -->
        <div style="margin-top: 10px">
        <button id="firstBranchButton" class="flexrow" type="button">
          Roll First Branch
        </button>
        </div>
      </div>
      <div class="column" style="flex: 10%"></div>
      <div class="column" style="flex: 40%">
        <label for="secondBranch">Branch 2</label><br />
        <select type="text" name="secondBranch">
          {{#each branches}} {{#ifEquals this ../magaambyaData.secondBranch}}
          <option value="{{this}}" selected>{{this}}</option>
          {{/ifEquals}} {{#ifNotEquals this ../magaambyaData.secondBranch}}
          <option value="{{this}}">{{this}}</option>
          {{/ifNotEquals}} {{/each}}</select
        ><br />
        <label for="secondBranchLevel">Second Branch Level</label><br />
        <input
          type="number"
          name="secondBranchLevel"
          min="0"
          ,
          max="20"
          value="{{magaambyaData.secondBranchLevel}}"
          style="width: 30%"
        /><br />
        <!-- <label for="secondBranchLore">Second Branch Lore</label><br />
        <input
          type="text"
          name="secondBranchLore"
          value="{{magaambyaData.secondBranchLore}}"
        /> -->
        <div style="margin-top: 10px">
        <button id="secondBranchButton" class="flexrow" type="button">
          Study for 2nd Branch
        </button>
      </div>
      </div>
    </div>
  </div>
  <hr />
  <footer class="sheet-footer flexrow">
    <button type="submit" name="submit"><i class="fa fa-check"></i> OK</button>
  </footer>
</form>
